.trivia-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border: 5px solid #662324;
  align-items: center;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trivia-question {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border: 5px solid #662324;
}

.trivia-choice {
  width: 200px;
  height: 50px;
  color: #662324;
  font-size: 20px;
  margin: 5px;
  border-radius: 15px;
}

.trivia-choice:hover {
  background-color: #662324;
  color: #FFF;
}

.results-route {
  width: 200px;
  height: 50px;
  background-color: #662324;
  color: #FFF;
  font-size: 20px;
  margin: 5px;
  border-radius: 15px;
}
